Repository JoffreyLGT/e-commerce-mlops: changes, and which pre-commit hooks are due for each by the changed paths.
All: codecheck-backend, codecheck-datascience

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages:
  - pre-commit
default_language_version:
  python: python3.11
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
    stages: [pre-push]
  - id: mixed-line-ending
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: end-of-file-fixer
  - id: check-yaml
    stages: [pre-push]
  - id: check-added-large-files
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: "v9.5.0"
  hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']
- repo: local
  hooks:
  - id: codecheck-backend
    language: system
    name: Code checking
    types: [file]
    files: 'backend/.*\.(py)$'
    entry: bash -c 'cd backend && poetry run python -m scripts.code_checking --fix'
    stages: [pre-push]
  - id: codecheck-datascience
    language: system
    name: Code checking
    types: [file]
    files: 'datascience/.*\.(py)$'
    entry: bash -c 'cd datascience && poetry run python -m scripts.code_checking --fix'
    stages: [pre-push]

fix(datascience): requirements, model file format and optimizer
  datascience/scripts/train_image_model.py
Due: codecheck-datascience

fix(datascience): requirements, model file format and optimizer (#130)
  datascience/scripts/train_image_model.py
Due: codecheck-datascience

feat(datascience): fusion model training with MLFlow
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
  datascience/src/core/constants.py
  datascience/src/core/settings.py
  datascience/src/transformers/text_transformer.py
  datascience/src/utilities/dataset_utils.py
  datascience/src/utilities/mlflow_utils.py
  datascience/src/utilities/model_utils.py
Due: codecheck-datascience

chore(datascience): fix code checking issues
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
  datascience/src/transformers/text_transformer.py
  datascience/src/utilities/dataset_utils.py
  datascience/src/utilities/model_utils.py
  mypy.ini
Due: codecheck-datascience

feat(datascience): fusion model training with MLFlow (#134)
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
  datascience/src/core/constants.py
  datascience/src/core/settings.py
  datascience/src/transformers/text_transformer.py
  datascience/src/utilities/dataset_utils.py
  datascience/src/utilities/mlflow_utils.py
  datascience/src/utilities/model_utils.py
  mypy.ini
Due: codecheck-datascience

fix(datascience): fix issue with text_preprocessor
  README.md
  datascience/scripts/train_fusion_model.py
  datascience/src/transformers/text_transformer.py
Due: codecheck-datascience

fix(datascience): fix issue with text_preprocessor (#137)
  README.md
  datascience/scripts/train_fusion_model.py
  datascience/src/transformers/text_transformer.py
Due: codecheck-datascience

docs: create SECURITY.md
  SECURITY.md
Due: none

docs: add LICENCE
  LICENSE
Due: none

fix(datascience): optimize_images works again
  datascience/scripts/optimize_images.py
Due: codecheck-datascience

fix(datascience): optimize_images works again (#139)
  datascience/scripts/optimize_images.py
Due: codecheck-datascience

refactor(datascience): rename optimize_images into create_dataset
  README.md
  datascience/scripts/create_dataset.py
  datascience/scripts/create_datasets.py
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
  datascience/src/core/settings.py
Due: codecheck-datascience

refactor(datascience): rename optimize_images into create_dataset (#141)
  README.md
  datascience/scripts/create_dataset.py
  datascience/scripts/create_datasets.py
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
  datascience/src/core/settings.py
Due: codecheck-datascience

Creation du dossier airflow
  .env
  airflow/dags/dag_dataset.py
  airflow/docker-compose.yaml
  datascience/.env
  datascience/scripts/optimize_images.py
  e-commerce-mlops.code-workspace
Due: codecheck-datascience

feat(datascience): containerize datascience
  .dockerignore
  .gitignore
  datascience/datascience.Dockerfile
  datascience/poetry.lock
  datascience/pyproject.toml
  datascience/scripts/download_mlruns.py
  datascience/scripts/rename-artifacts.sh
  datascience/scripts/start.sh
  datascience/src/core/settings.py
  docker-compose.yaml
  scripts/demo.env
  scripts/docker-deploy.sh
Due: codecheck-datascience

feat(datascience): containerize datascience (#147)
  .dockerignore
  .gitignore
  datascience/datascience.Dockerfile
  datascience/poetry.lock
  datascience/pyproject.toml
  datascience/scripts/download_mlruns.py
  datascience/scripts/rename-artifacts.sh
  datascience/scripts/start.sh
  datascience/src/core/settings.py
  docker-compose.yaml
  scripts/demo.env
  scripts/docker-deploy.sh
Due: codecheck-datascience

feat(backend): predict product category using datascience container
  .gitignore
  backend/app/api/v1/endpoints/prediction.py
  backend/app/core/image_data_utils.py
  backend/app/core/settings.py
  backend/app/schemas/__init__.py
  backend/app/schemas/prediction_result.py
  backend/app/tests/api/v1/endpoints/test_prediction.py
  backend/app/tests/utilities/utilities.py
  backend/datascience/__init__.py
  backend/datascience/classification.py
  backend/datascience/scripts/train_text_model.py
  backend/datascience/src/analysis.py
  backend/datascience/src/data.py
  backend/datascience/src/text_model.py
  backend/datascience/src/text_preproc_pipeline.py
  backend/datascience/src/transformer.py
  backend/datascience/src/vectorization_pipeline.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/scripts/download_models.py
  backend/scripts/prestart.sh
  docker-compose.yaml
  scripts/demo.env
  template.env
Due: codecheck-backend, codecheck-datascience

feat(backend): predict product category using datascience container (#151)
  .gitignore
  backend/app/api/v1/endpoints/prediction.py
  backend/app/core/image_data_utils.py
  backend/app/core/settings.py
  backend/app/schemas/__init__.py
  backend/app/schemas/prediction_result.py
  backend/app/tests/api/v1/endpoints/test_prediction.py
  backend/app/tests/utilities/utilities.py
  backend/datascience/__init__.py
  backend/datascience/classification.py
  backend/datascience/scripts/train_text_model.py
  backend/datascience/src/analysis.py
  backend/datascience/src/data.py
  backend/datascience/src/text_model.py
  backend/datascience/src/text_preproc_pipeline.py
  backend/datascience/src/transformer.py
  backend/datascience/src/vectorization_pipeline.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/scripts/download_models.py
  backend/scripts/prestart.sh
  docker-compose.yaml
  scripts/demo.env
  template.env
Due: codecheck-backend, codecheck-datascience

fix: fix backend tests and deployment
  README.md
  backend/.env
  backend/alembic/env.py
  backend/app/core/settings.py
  backend/backend.Dockerfile
  backend/scripts/start-reload.sh
  backend/scripts/start-with-telemetry.sh
  backend/scripts/start.sh
  datascience/.env
  datascience/scripts/start.sh
  dev.env
  docker-compose.yaml
  scripts/docker-deploy.sh
  scripts/run-tests-in-containers.sh
  staging.env
  template.env
Due: codecheck-backend

ci: create fix-backend-test.yaml
  .github/workflows/fix-backend-test.yaml
Due: none

fix: backend tests and deployment (#154)
  README.md
  backend/.env
  backend/alembic/env.py
  backend/app/core/settings.py
  backend/backend.Dockerfile
  backend/scripts/start-reload.sh
  backend/scripts/start-with-telemetry.sh
  backend/scripts/start.sh
  datascience/.env
  datascience/scripts/start.sh
  dev.env
  docker-compose.yaml
  scripts/docker-deploy.sh
  scripts/run-tests-in-containers.sh
  staging.env
  template.env
Due: codecheck-backend

ci: fix backend unit tests
  .github/workflows/backend_lint_tests.yaml
  datascience/poetry.lock
  datascience/pyproject.toml
  scripts/docker-deploy.sh
  scripts/run-tests-in-containers.sh
Due: none

ci: fix backend unit tests (#157)
  .github/workflows/backend_lint_tests.yaml
  datascience/poetry.lock
  datascience/pyproject.toml
  scripts/docker-deploy.sh
  scripts/run-tests-in-containers.sh
Due: none

refactor: delete frontend placeholder
  README.md
  frontend/frontend.dockerfile
Due: none

refactor: delete frontend placeholder (#158)
  README.md
  frontend/frontend.dockerfile
Due: none

build(release): 0.0.0 -> 0.1.0
  CHANGELOG.md
Due: none

update dockerfile and dockercompose allowing .env file to be load
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: none

build: add action to build and push docs to Github pages
  .github/workflows/deploy-docs.yml
Due: none

build: fix typo in deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: none

build: remove docs deployment on pr
  .github/workflows/deploy-docs.yml
Due: none

build: remove docs deployment on pr (#160)
  .github/workflows/deploy-docs.yml
Due: none

docs: developer page regarding documentation
  docs/content/Developer/Documentation.md
Due: none

docs: developer page regarding documentation (#161)
  docs/content/Developer/Documentation.md
Due: none

docs: add obsidian configs and update documentation page
  docs/content/.obsidian/app.json
  docs/content/.obsidian/appearance.json
  docs/content/.obsidian/community-plugins.json
  docs/content/.obsidian/core-plugins-migration.json
  docs/content/.obsidian/core-plugins.json
  docs/content/.obsidian/hotkeys.json
  docs/content/.obsidian/page-preview.json
  docs/content/.obsidian/templates.json
  docs/content/.obsidian/types.json
  docs/content/.obsidian/workspace.json
  docs/content/.obsidian/workspaces.json
  docs/content/Developer/Documentation.md
  docs/content/Templates/Page.md
  docs/content/assets/developer-documentation-obsidian_quartz_comparison.png
  docs/quartz/static/icon.png
Due: none

docs: add obsidian configs and update documentation page (#162)
  docs/content/.obsidian/app.json
  docs/content/.obsidian/appearance.json
  docs/content/.obsidian/community-plugins.json
  docs/content/.obsidian/core-plugins-migration.json
  docs/content/.obsidian/core-plugins.json
  docs/content/.obsidian/hotkeys.json
  docs/content/.obsidian/page-preview.json
  docs/content/.obsidian/templates.json
  docs/content/.obsidian/types.json
  docs/content/.obsidian/workspace.json
  docs/content/.obsidian/workspaces.json
  docs/content/Developer/Documentation.md
  docs/content/Templates/Page.md
  docs/content/assets/developer-documentation-obsidian_quartz_comparison.png
  docs/quartz/static/icon.png
Due: none

docs: update link to an image to fix retrieving issues
  docs/content/.obsidian/app.json
  docs/content/Developer/Documentation.md
Due: none

docs: update link to an image to fix retrieving issues (#163)
  docs/content/.obsidian/app.json
  docs/content/Developer/Documentation.md
Due: none

docs: update Quartz to 4.1.1
  docs/package-lock.json
  docs/package.json
  docs/quartz/cli/args.js
  docs/quartz/cli/handlers.js
  docs/quartz/components/Breadcrumbs.tsx
  docs/quartz/components/Footer.tsx
  docs/quartz/components/TableOfContents.tsx
  docs/quartz/components/pages/TagContent.tsx
  docs/quartz/components/renderPage.tsx
  docs/quartz/components/scripts/explorer.inline.ts
  docs/quartz/components/scripts/popover.inline.ts
  docs/quartz/components/scripts/spa.inline.ts
  docs/quartz/components/scripts/toc.inline.ts
  docs/quartz/plugins/emitters/aliases.ts
  docs/quartz/plugins/emitters/cname.ts
  docs/quartz/plugins/emitters/contentIndex.ts
  docs/quartz/plugins/emitters/index.ts
  docs/quartz/plugins/emitters/static.ts
  docs/quartz/plugins/transformers/links.ts
  docs/quartz/plugins/transformers/ofm.ts
  docs/quartz/plugins/transformers/toc.ts
  docs/quartz/static/icon.png
  docs/quartz/styles/base.scss
  docs/quartz/util/jsx.tsx
  docs/quartz/util/path.ts
Due: none
