Repository JoffreyLGT/e-commerce-mlops: changes, and which pre-commit hooks are due for each by the changed paths.
All: codecheck-backend, codecheck-datascience

codecheck-backend:
  language: system
  name: Code checking
  entry: bash -c 'cd backend && poetry run python -m scripts.code_checking --fix'
  stages:
  - pre-push

codecheck-datascience:
  language: system
  name: Code checking
  entry: bash -c 'cd datascience && poetry run python -m scripts.code_checking --fix'
  stages:
  - pre-push

ci(datascience): :construction_worker: Add pre-push hook to run code_checking
  .pre-commit-config.yaml
Due: none

build(all): :sparkles: Update commit message guidelines and add commit-msg hook to control
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  README.md
  e-commerce-mlops.code-workspace
Due: none

docs(README): add commit-msg information
  README.md
Due: none

ci: :construction_worker: add commitlint Github action
  .github/workflows/commit_lint.yaml
Due: none

readme file change for test
  README.md
Due: none

ci: :construction_worker: add commitlint Github action (#90)
  .github/workflows/commit_lint.yaml
Due: none

ci: only refresh packages cache when poetry.lock changes
  .github/workflows/cache_poetry_packages.yaml
Due: none

chore: add tooling to help developers validate their commit messages
  .pre-commit-config.yaml
  commitlint.config.js
  e-commerce-mlops.code-workspace
Due: none

chore: add tooling to help developers validate their commit messages (#94)
  .pre-commit-config.yaml
  commitlint.config.js
  e-commerce-mlops.code-workspace
Due: none

ci: only refresh packages cache when poetry.lock changes (#92)
  .github/workflows/cache_poetry_packages.yaml
Due: none

chore(backend): add TODO tag regarding a new fixture
  backend/app/tests/api/v1/endpoints/test_prediction.py
Due: codecheck-backend

chore: fix Pylance analysing all files including .venv on VSCode
  backend/pyproject.toml
  datascience/pyproject.toml
  mypy.ini
  pyrightconfig.json
Due: none

fix(datascience): remove package addition to pyproject.toml
  datascience/pyproject.toml
Due: none

chore(backend): add TODO tag regarding a new fixture (#99)
  backend/app/tests/api/v1/endpoints/test_prediction.py
Due: codecheck-backend

chore: fix Pylance analysing all files including .venv on VSCode (#101)
  backend/pyproject.toml
  datascience/pyproject.toml
  mypy.ini
  pyrightconfig.json
Due: none

feat(datascience): scripts to optimize images and train image model
  .env
  datascience/poetry.lock
  datascience/pyproject.toml
  datascience/pyrightconfig.json
  datascience/scripts/optimize_images.py
  datascience/scripts/train_image_model.py
  datascience/src/core/custom_errors.py
  datascience/src/core/logging_config.py
  datascience/src/core/logging_filters.py
  datascience/src/core/settings.py
  datascience/src/utilities/dataset_utils.py
  pyrightconfig.json
  ruff.toml
Due: codecheck-datascience

refactor(datascience): fix some mypy issues and ignore the others
  datascience/poetry.lock
  datascience/pyproject.toml
  datascience/scripts/optimize_images.py
  datascience/scripts/train_image_model.py
  datascience/src/core/logging_filters.py
Due: codecheck-datascience

feat(datascience): refactor dataset creation script
  datascience/scripts/create_dataset.py
  datascience/scripts/generate_datasets.py
Due: codecheck-datascience

create model for text prediction
  backend/datascience/scripts/text_model.py
Due: codecheck-backend, codecheck-datascience

feat(datascience): add script train_text_model
  datascience/poetry.lock
  datascience/pyproject.toml
  datascience/scripts/train_text_model.py
  datascience/src/core/settings.py
  datascience/src/utilities/dataset_utils.py
Due: codecheck-datascience

refactor(datascience): train_text_model is now better
  datascience/scripts/train_text_model.py
  datascience/src/core/settings.py
  datascience/src/utilities/dataset_utils.py
  mypy.ini
  ruff.toml
Due: codecheck-datascience

feat(datascience): add script train_text_model.py (#122)
  datascience/poetry.lock
  datascience/pyproject.toml
  datascience/scripts/train_text_model.py
  datascience/src/core/settings.py
  datascience/src/utilities/dataset_utils.py
  mypy.ini
  ruff.toml
Due: codecheck-datascience

refactor(datascience): train_image_model now uses a flat images dir
  datascience/scripts/optimize_images.py
  datascience/scripts/train_image_model.py
  datascience/src/utilities/dataset_utils.py
  datascience/src/utilities/model_eval.py
  ruff.toml
Due: codecheck-datascience

refactor(datascience): use function to evaluate model performance
  datascience/scripts/train_text_model.py
Due: codecheck-datascience

refactor(datascience): train_image_model now uses a flat images dir (#123)
  datascience/scripts/optimize_images.py
  datascience/scripts/train_image_model.py
  datascience/src/utilities/dataset_utils.py
  datascience/src/utilities/model_eval.py
  ruff.toml
Due: codecheck-datascience

refactor(datascience): use functions to evaluate model performance (#124)
  datascience/scripts/train_text_model.py
Due: codecheck-datascience

refactor(datascience): move transformer functions to a file
  datascience/scripts/train_text_model.py
  datascience/src/transformers/text_transformer.py
  datascience/src/utilities/dataset_utils.py
Due: codecheck-datascience

refactor(datascience): auto set number of classes
  datascience/scripts/train_image_model.py
Due: codecheck-datascience

feat(datascience): add fusion model training script
  datascience/scripts/train_fusion_model.py
  datascience/src/utilities/dataset_utils.py
Due: codecheck-datascience

chore(datascience): log args when training scripts starts
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
Due: codecheck-datascience

feat(datascience): add fusion model training script (#125)
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_text_model.py
  datascience/src/transformers/text_transformer.py
  datascience/src/utilities/dataset_utils.py
Due: codecheck-datascience

chore(datascience): update MLFlow
  datascience/poetry.lock
Due: none

feat(datascience): image model output is now a percentage
  datascience/scripts/train_image_model.py
Due: codecheck-datascience

feat(datascience): track metrics and artifacts with MLFlow
  README.md
  datascience/scripts/train_image_model.py
  datascience/src/core/settings.py
  datascience/src/utilities/dataset_utils.py
  datascience/src/utilities/model_eval.py
Due: codecheck-datascience

chore(datascience): remove type:ignore and fix import
  datascience/scripts/train_image_model.py
Due: codecheck-datascience

refactor(datascience): remove print from train_image_model
  datascience/scripts/train_image_model.py
Due: codecheck-datascience

feat(datascience): track metrics and artifacts with MLFlow (#127)
  README.md
  datascience/poetry.lock
  datascience/scripts/train_image_model.py
  datascience/src/core/settings.py
  datascience/src/utilities/dataset_utils.py
  datascience/src/utilities/model_eval.py
Due: codecheck-datascience

feat(datascience): text model training tracking with MLFlow
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
  datascience/src/core/custom_errors.py
  datascience/src/core/settings.py
  datascience/src/utilities/model_utils.py
Due: codecheck-datascience

feat(datascience): text model training tracking with MLFlow (#129)
  datascience/scripts/train_fusion_model.py
  datascience/scripts/train_image_model.py
  datascience/scripts/train_text_model.py
  datascience/src/core/custom_errors.py
  datascience/src/core/settings.py
  datascience/src/utilities/model_utils.py
Due: codecheck-datascience

Path conditions:
  codecheck-backend: any of: backend/.*\.(py)$
  codecheck-datascience: any of: datascience/.*\.(py)$
